/clusters.27.txt
/clusters.gentlersongs
/clusters.hybridcar.cooccurance.txt
/clusters.hybridcar.dumb test.txt
/clusters.hybridcar.Lemma.27.txt
/clusters.hybridcar.Lemma.exponential.x100first.base10.27.txt
/clusters.hybridcar.Lemma.exponentialscale.fraction.27.txt
/clusters.hybridcar.Lemma.exponentialscale.x10first.27.txt
/clusters.hybridcar.Lemma.linearscale.27.txt
/clusters.hybridcar.Lemma.logscale.x100first.27.txt
/clusters.hybridcar.levels.txt
/clusters.hybridcar.nostopwords.stem.resetpercaption.prescenceNotCount.txt
/clusters.hybridcar.nostopwords.stem.resetpercaption.prescenceNotCount.unicode.txt
/clusters.hybridcar.nostopwords.stem.resetpercaption.txt
/clusters.hybridcar.plusone.txt
/clusters.hybridcar.times100thenplus1.txt
/clusters.hybridcar.times10tothe10thenplus1.nostopwords.stem.resetpercaption.txt
/clusters.hybridcar.times10tothe10thenplus1.nostopwords.stem.txt
/clusters.hybridcar.times10tothe10thenplus1.nostopwords.txt
/clusters.hybridcar.times10tothe10thenplus1.txt
/clusters.Lemma.27.txt
/clusters.NoPunc.27.txt
